@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--custom-color-background);
  --color-primary-positiva: var(--primary-positiva);
  --color-accent-positiva: var(--accent-positiva);
  --color-navy-primary: var(--navy-primary);
  --color-navy-secondary: var(--navy-secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-label-inputs: var(--custom-color-label-inputs);
  --color-red-positiva: var(--custom-color-red-positiva);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-poppins: var(--custom-font-poppins);
}

:root {
  --custom-color-background: #f5f5f5;
  --custom-font-poppins: "Poppins", sans-serif;
  --primary-positiva: #ff7500;
  --accent-positiva: #ee7d30;
  --navy-primary: #173748;
  --navy-secondary: #123249;
  --custom-color-label-inputs: #5d6977;
  --custom-color-red-positiva: #e60003;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
body {
  font-family: var(--custom-font-poppins), sans-serif;
}
.dark {
  --primary-positiva: #ff7500;
  --accent-positiva: #ee7d30;
  --navy-primary: #173748;
  --navy-secondary: #123249;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* tailwind.config.csstailwind.config.csstailwind.config.css */

body {
  font-family: "Poppins", sans-serif;
}

/* Estilos para modo oscuro */
.dark .toast-success {
  --normal-text: #ffffff !important;
}

.dark .toast-success [data-description] {
  color: #f0fdf4 !important;
}

.dark .toast-error {
  --normal-text: #ffffff !important;
}

.dark .toast-error [data-description] {
  color: #fef2f2 !important;
}

.dark .toast-warning {
  --normal-text: #ffffff !important;
}

.dark .toast-warning [data-description] {
  color: #fffbeb !important;
}

.dark .toast-info {
  --normal-text: #ffffff !important;
}

.dark .toast-info [data-description] {
  color: #eff6ff !important;
}

button {
  @apply cursor-pointer;
}

button:disabled {
  @apply cursor-not-allowed;
}

.container-main {
  background-image: url("/banner-portal-pensionados.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100dvh;
  width: 100%;
}
.font-poppins {
  font-family: var(--font-poppins) !important;
}
.font-roboto {
  font-family: Roboto;
}
.toatsStyle {
  width: 540px !important;
  --normal-bg: #fff !important;
  box-shadow: 4px 4px 65px 0px #cbd0e259;
  padding: 20px 20px 20px 38px !important;
  display: flex;
  gap: 10px;
  margin-top: 6em;
  display: flex;
  align-items: flex-start !important;
}

.toatsStyle [data-title] {
  font-family: var(--font-poppins) !important;
  font-weight: 600 !important;
  text-align: justify !important;
  color: #000000 !important;
  font-size: 16px !important;
}
.toatsStyle [data-description] {
  font-family: "Roboto", "Poppins" !important;
  font-weight: 400 !important;
  text-align: justify !important;
  color: #000000 !important;
  font-size: 14px !important;
  position: relative !important;
  display: flex;
  align-items: flex-start;
}
.toatsStyle button {
  color: #ffffff00 !important;
  background-color: #ffffff00 !important;
  padding: 0 !important;
}

.equisModal {
  position: absolute !important;
  top: 20px !important;
  right: 20px !important;
}
.iconPosition {
  margin-top: 10px;
}
li.toatsStyle:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 46px;
  border-radius: 200px;
}
li.toast-error.toatsStyle:before {
  background: #e60003;
}
li.toast-success.toatsStyle:before {
  background: #39ba2e;
}
li.ttoast-warning.toatsStyle:before,
li.toast-info.toatsStyle:before {
  background: #ffb800;
}
.backgroundPensionados {
  background: url("/banner-bakground-posiitva.svg") center center / cover no-repeat;
}

.containerMaxWidth {
  max-width: 1200px;
  margin: auto;
}
.ulModalLogin {
  flex-direction: row !important;
  gap: 42px !important;
  width: 100% !important;
  margin: auto;
  display: flex !important;
  margin-left: 3em;
}
.liModalLogin {
  list-style-type: disc;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: var(--navy-primary);
}
@media (max-width: 1200px) {
  .containerMaxWidth {
    padding: 0 50px;
  }
}
@media (max-width: 1024px) {
  .ulModalLogin {
    gap: 5px !important;
    flex-wrap: wrap;
    margin-left: 0;
    flex-direction: column !important;
    margin-left: 2em;
  }
}
@media (max-width: 768px) {
  .containerMaxWidth {
    padding: 0 16px;
  }
}
@media (max-width: 629px) {
  .toatsStyle {
    width: 90% !important;
    margin-top: 4em;
  }
}

@media (max-width: 600px) {
  .toatsStyle {
    width: 75% !important;
    margin-top: 5em;
    padding: 15px 15px 15px 35px !important;
    right: 34px !important;
  }
  li.toatsStyle:before {
    left: 15px;
  }
}
